<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<Suite name="Test Suite" verbose="2">

<test name="Test cases">

	<parameter name="Name" value="Jesus"> </parameter>
	

<!-- <groups>
	<run>
		<include name="Apple"></include>
		<include name="Samsung"></include>
	</run>
</groups> -->
<classes>
 <class name=testNG.Ex7Parameterization>
 <class name="testNG.Ex6GroupingExample">
<class name="testNG.Ex1"></class>
<class name="testNG.Ex2GivingPriorityAttribute"></class>
<class name="testNG.Ex4DependsOnMethods"></class>
<class name="testNG.Ex5SuiteExample"></class> 

</classes>
</test>
</Suite>

